$white: #fff;
$primary-black: #333;
$secondary-white: #e6e6e6;
$primary-red: #f64b4b;
$secondary-red: #f41a1a;
$hover-red: #d10a0a;
$primary-grey: #ccc;
$secondary-grey: #999999;
$light-brown: #c09a64;
